@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: auto;
  background-color: white;
  text-align: center;

  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.container h1 {
  font-size: 32px;
  padding: 30px;
  background-color: rgb(0, 198, 228);
  margin-bottom: 20px;
  color: white;
  border-radius: 10px 10px 0 0;
}

.container .input {
  margin: 10px 0;
  width: 80%;
  height: 50px;
  padding: 20px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.container .btn {
  text-align: center;
  padding: 0;
  font-size: 18px;
  color: white;
  background-color: rgb(0, 198, 228);
  cursor: pointer;
  margin-bottom: 0;
  border: none;
}
.container .btn:hover {

  background-color: rgba(0, 198, 228,);
 
}
.tai {
  display: flex;
  margin: 10px 50px;
  justify-content: space-between;
}

.tai #check,
.tai label {
  cursor: pointer;
}
.tai a {
    text-decoration: none;
    color: rgb(9, 66, 237);
}
.tai a:hover {
  text-decoration: underline;
}

.container p {
    margin: 30px 0;
}

.container p a {
text-decoration: none;
color: rgb(9, 66, 237);

}
.container p a:hover {
text-decoration: underline;

}